@import 'src/styles/variables';
@import 'src/styles/functions';
@import 'src/styles/mixins';

.How2start-strip {
    // overflow-x: scroll;
/*     padding-bottom: 8rem;
 */   
    background-color: lightgray;
    display: flex;
    width: 100%;
    justify-content: center;
    .How2start-main-container{

        flex:1 1;
        max-width: 1250px;
        padding:  8rem 0;
    }
    .strip-header {
        padding:   2rem;
        h2 {
            font-family: $roboto_bold;
            font-style: normal;
            font-weight: 600;
            font-size: 3em;
            text-align: center;
            color: $white;
            margin: 0;
            background: linear-gradient(149.47deg, rgba(39, 102, 223, 0.9) 5.08%, rgba(68, 66, 179, 0.9) 50.65%, rgba(95, 39, 179, 0.9) 75.66%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            // margin-left: 2rem;
        }}
    .cards-container {
        padding: 0 3rem;
        position: relative;
        display: flex;
       flex-direction: row;
       gap: 3em;
       justify-content: center;
       flex-wrap: wrap;
    }
.bckrd-color-container{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 110px 0;
    .bckgrd-color{
        height: 100%;
        width: 100%;
        box-shadow:  4px 4px  3px -2px rgba(0, 0, 0, 0.4);
        background: linear-gradient(149.47deg, rgba(39, 102, 223, 0.9) 5.08%, rgba(68, 66, 179, 0.9) 50.65%, rgba(95, 39, 179, 0.9) 75.66%);
        z-index: 0;
        border-radius: 84px;
    }}

    @media screen and (max-width : 905px) {
        .cards-container {
          flex-direction: column;
          padding: 60px 0 ;
          align-items: center;
        }
        .bckrd-color-container{
            padding: 0 0;
            .bckgrd-color{
                width: 20%;
                margin-left: 55%;
            }
        }
        
    }
    @media screen and (max-width : 550px) {
       
        .bckrd-color-container{
          
            .bckgrd-color{
                width: 25%;
                margin-left: 60%;
            }
        }
        
    }
}







